# Ambientes virtuales
my_venv/
venv/
env/
.env

# Archivos de caché y compilación
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Resultados y gráficos generados dinámicamente
plots/
results/
resultados/

# Archivos procesados 
data/processed/

# Archivos auxiliares de LaTeX
reporte/*.aux
reporte/*.log
reporte/*.out
reporte/*.toc
reporte/*.synctex.gz
reporte/*.fls
reporte/*.fdb_latexmk

# VS Code / IDEs
.vscode/
.idea/
*.swp
